@{
    if (Request.getValue("layuot") == "null") { Layout = null; }
    ViewBag.Title = "CẬP NHẬT HỆ THỐNG";
    if (ViewBag.Error != null)
    {
        <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
        return;
    }
    if (Request.getValue("layout") == "null") { Layout = null; }
}
<br />
<h4 class="font-weight-bold">@ViewBag.Title</h4>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="upload-area" id="uploadfile" data-urlpost="@Url.Action("Index", "Update", new { area = "Admin", layout = "null", mode="update" })">
                    <p class="text-center">Kéo và thả tập tin cập nhật hệ thống (.zip) vào khu vực này hoặc nhấp để chọn file</p>
                </div>
                <div id="fileDetails" class="mt-4">
                    <h5>Danh sách tập tin đã chọn:</h5>
                    <ul id="fileList" class="list-group"></ul>
                </div>
                <button id="uploadButton" class="btn btn-primary mt-3" disabled><i class="fa fa-plus"></i> Đẩy lên máy chủ</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () { drapDropFiles(".zip"); });
</script>