@{
    Layout = null;
    if (ViewBag.Error != null)
    {
        <div class="alert alert-warning">
            @ViewBag.Error
        </div>
        return;
    }
    var msg = $"{ViewBag.data}";
    if (msg == "") { msg = $"Thao tác thành công vào lúc {DateTime.Now:yyyy-MM-d H:m:s}"; }
    <div class="alert alert-info"> @msg</div>
}