@{
    ViewBag.Title = "Quản lý tập tin";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h2 id="title" class="apptitle">@ViewBag.Title</h2>
    </section>
    <div class="row">
        <div class="col-12" id="viewfiles">
        </div>
    </div>
</main>
<script>
    $(document).ready(function () { showgeturl('@Url.Action("views", "TapTin", new { area ="Admin", layout="null" })&idtarget=viewfiles', 'viewfiles'); });
</script>