@{
    Layout = null;
    if (ViewBag.Error != null)
    {
        <div class="alert alert-warning">
            @ViewBag.Error
        </div>
    }
    else
    {
        var msg = ViewBag.Info == null ? $"Thao tác thành công vào lúc {DateTime.Now:yyyy-MM-d H:m:s}" : $"{ViewBag.Info}";
        <div class="alert alert-info"> Thao tác thành công vào lúc @DateTime.Now.ToString()</div>
    }
}