@if (Request.getValue("layout") == "null") { Layout = null; }
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
@{
    var idform = "frmbuoc3" + DateTime.Now.toTimestamp().ToString();
    var id = ViewBag.id as string;
    var idtarget = Request.getValue("idtarget");
}
<br />
<h2 class="font-weight-bold">BƯỚC 3: TẢI KẾT QUẢ CHO BÁO CÁO CÓ ID: @id</h2>
<div class="alert alert-info">Đang trong quá trình xây dựng</div>