@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var link = "";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
@{
    var id = Request.getValue("idobject");
    var dirSave = new System.IO.DirectoryInfo(Path.Combine(AppHelper.pathApp, "App_Data", "bctuan"));
}
<div class="alert alert-info">Danh sách tập tin đã xử lý cho Báo cáo tuần có ID '@id'</div>
<ul>
    <!-- File báo cáo tuần -->
    @foreach (var f in dirSave.GetFiles($"bctuan_{id}*.*"))
    {
        link = f.FullName.Replace(AppHelper.pathApp, "");
        <li><a href="/Tai?object=@link.MD5Encrypt()"> <i class="fa fa-download"></i> @f (@f.Length.getFileSize()) </a> </li>
    }
    <!-- File phụ lục báo cáo tuần -->
    @foreach (var f in dirSave.GetFiles($"bctuan_pl_{id}*.*"))
    {
        link = f.FullName.Replace(AppHelper.pathApp, "");
        <li><a href="/Tai?object=@link.MD5Encrypt()"> <i class="fa fa-download"></i> @f (@f.Length.getFileSize()) </a> </li>
    }
    <!-- File tải lên phụ vục báo cáo tuần -->
    @foreach (var f in dirSave.GetFiles($"id{id}*.*"))
    {
        link = f.FullName.Replace(AppHelper.pathApp, "");
        <li><a href="/Tai?object=@link.MD5Encrypt()"> <i class="fa fa-download"></i> @f (@f.Length.getFileSize()) </a> </li>
    }
</ul>