@{ 
    var items = new DataTable();
    if(ViewBag.Data != null) { items = ViewBag.Data as DataTable; }
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<p class="mb-4">
    Quản lý tiến trình.
</p>
<!-- DataTales Admins -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách tiến trình</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
        </div>
    </div>
</div>
<div class="alert alert-warning">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Nhấn vào tên đăng nhập để thay đổi thông tin tài khoản</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    /* $(document).ready(function () { $('#tableadmins').DataTable(); }); */
    @{ 
        if(ViewBag.Error != null)
        {
            Html.Raw($"messageBox('<div class=\"alert alert-warning\">{ViewBag.Error}</div>', 'Thông báo lỗi');");
        }
    }
</script>