@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <p>
                    Chào mừng đến với “Công cụ phân tích bảo hiểm y tế”
                    <br />Health insurance analysis tools
                    <br />(HIA-Tools)
                </p>
                <img src="~/images/graph-clipart-data-statistics.png" />
            </div>
        </div>
    </div>
</div>