@{
    ViewBag.Title = "Home Page";
    string tmp = "";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body text-center">
                <p>
                    @AppHelper.getConfig("App.Home.Welcome", "Chào mừng đến với “Công cụ phân tích bảo hiểm y tế”")
                    <br />@AppHelper.getConfig("App.Home.TitleEN", "Health insurance analysis tools")
                    <br />@AppHelper.getConfig("App.Title", "HIA-Tools")
                </p>
                <img src="~/images/graph-clipart-data-statistics.png" />
            </div>
        </div>
    </div>
</div>