@{
    ViewBag.Title = "Home Page";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Công cụ hỗ trợ làm báo cáo</h1>
    </section>

    <div class="row">
        <div> Tổng hợp dữ liệu bảo hiểm và tạo báo cáo theo nhu cầu mọi người đưa lên</div>
    </div>
</main>