@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">@Html.Raw(ViewBag.Error)</div>
    return;
}
@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var idformbuoc1 = "frmbuoc1" + DateTime.Now.toTimestamp().ToString();
    var idtarget = Request.getValue("idtarget");
}
<br />
<h4 class="font-weight-bold">BƯỚC 1: ĐẨY DỮ LIỆU</h4>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <div class="upload-area" id="uploadfile" data-urlpost="@Url.Action("Buoc2", "bcThang", new { area = "", layout = "null", idtarget=idtarget })" data-target="@idtarget">
                    <p class="text-center">Kéo và thả tập tin Excel 2007 trở lên (Type of file: Microsoft Excel Worksheet) <i>(hỗ trợ dữ liệu đã nén .rar, .zip)</i> vào khu vực này hoặc nhấp để chọn file</p>
                </div>
                <div id="fileDetails" class="mt-4">
                    <h5>Danh sách tập tin đã chọn:</h5>
                    <ul id="fileList" class="list-group"></ul>
                </div>
                <button id="uploadButton" class="btn btn-primary mt-3" disabled><i class="fa fa-plus"></i> Đẩy lên máy chủ</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger">
    <ul>
        <li><i class="fa fa-warning"></i> Trường hợp cập nhập dữ liệu "TÌNH HÌNH SỬ DỤNG DỰ TOÁN THEO HỢP ĐỒNG". Vui lòng sử dụng mẫu sau <a href="/Tai?object=h5gu%2FtonTgK9bU%2BwgaFMK6aRpFwAhon1lm%2FlJL1FpMQ%3D"><i class="fa fa-download"></i> dữ liệu mẫu</a></li>
    </ul>

    Các file đầu vào gồm 15 file sau:
    <ul>
        <li>1. B01-00-T1-T12-2023 -  Sử dụng dự toán chi KCB các tỉnh tháng 1-12/2023 (lũy kế năm trước )</li>
        <li>
            2. B01-00-T1-T12-2024 -  Sử dụng dự toán chi KCB các tỉnh tháng 1-12/2024 (lũy kế năm báo cáo)
        </li>
        <li>
            3. B01-10-T1-T12-2024 -  Sử dụng dự toán chi KCB từng CSKCB của tỉnh tháng 1-12/2024 (lũy kế năm báo cáo)
        </li>
        <li>
            4. B02-00-T1-12-2023 -  Thống kê KCB các tỉnh tháng 1-12/2023 (lũy kế năm trước)
        </li>
        <li>
            5. B02-00-T1-12-2024 - Thống kê KCB các tỉnh tháng 1-12/2023 (lũy kế năm báo cáo)
        </li>
        <li>
            6. B02-00-T12-2023 - Thống kê KCB các tỉnh tháng 12/2023 (phát sinh của tháng báo cáo cùng kỳ năm trước)
        </li>
        <li>
            7. B02-00-T12-2024 - Thống kê KCB các tỉnh tháng 12/2024 (phát sinh của tháng báo cáo năm báo cáo)
        </li>
        <li>
            8. B02-10-T1-T12-2023 - Thống kê KCB từng CSKCB của tỉnh tháng 1-12/2023 (lũy kế năm trước)
        </li>
        <li>
            9. B02-10-T1-T12-2024 - Thống kê KCB từng CSKCB của tỉnh tháng 1-12/2024 (lũy kế năm báo cáo)
        </li>
        <li>
            10. B02-10-T11-2024 - Thống kê KCB từng CSKCB của tỉnh tháng 11/2024 (phát sinh của từng CSKCB tháng trước tháng báo cáo năm báo cáo)
        </li>
        <li>
            11. B02-10-T12-2024  -  Thống kê KCB từng CSKCB của tỉnh tháng 12/2024 (phát sinh của từng CSKCB tháng báo cáo năm báo cáo)
        </li>
        <li>
            12. B04-00-T1-T12-2224 - Thống kê chi bình quân các tỉnh tháng 1-12/2024 (lũy kế năm báo cáo)
        </li>
        <li>
            13. B04-10-T11-2024  - Thống kê chi bình quân của tỉnh tháng 11/2024 (phát sinh của từng CSKCB tháng trước tháng báo cáo năm báo cáo)
        </li>
        <li>
            14. B04-10-T12-2024 - Thống kê chi bình quân của tỉnh tháng 12/2024 (phát sinh của từng CSKCB tháng báo cáo năm báo cáo)
        </li>
        <li>
            15. B26-00-2024 -  Thống kê gia tăng chi phí KCB BHYT theo NĐ75  các tỉnh (phát sinh từ ngày đầu đến ngày cuối của tháng lập BC)
        </li>
    </ul>
</div>
<script>
    $(document).ready(function () { drapDropFiles(".xlsx,.zip,.rar"); });
</script>