@{
    ViewBag.Title = "Danh sách báo cáo tuần";
    var idForm = "idfrm" + DateTime.Now.toTimestamp().ToString();
    var idResult = "rs" + DateTime.Now.toTimestamp().ToString(); ;
    System.Data.DataTable dmTinh = new System.Data.DataTable();
    if (ViewBag.dmTinh != null) { dmTinh = ViewBag.dmTinh as System.Data.DataTable; }
    string tinhSelect = $"{ViewBag.tinhSelect}";
}
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">@ViewBag.Title</h1>
<!-- DataTales Admins -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Thông tin</h6>
    </div>
    <div class="card-body">
        <!-- Form tìm kiếm báo cáo -->
        @using (Html.BeginForm("TruyVanBCTuan", "BaoCao", new { area = "" }, FormMethod.Post, new { id = idForm, target = "_blank" }))
        {

        }
        <!-- Danh sách báo cáo sau truy vấn -->
        <div id="@idResult"> </div>
    </div>
</div>
<div class="alert alert-warning">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td>Ghi chú</td>
            </tr>
        </tbody>
    </table>
</div>