@{
    if (Request.getValue("layout") == "null") { Layout = null; }
    var idtarget = Request.getValue("idtarget");
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-warning">
        @Html.Raw(ViewBag.Error)
        <br />
        <a href="#" class="btn btn-primary btn-sm" onclick="showgeturl('@Url.Action("Buoc1", "XML", new { area = "", layout="null", idtarget=idtarget })', '@idtarget')"><i class="fa fa-refresh"></i> Tạo lại</a>
    </div>
    return;
}
@{
    var id = ViewBag.id as string;
}
<br />
<h4 class="font-weight-bold">ĐÃ ĐƯA DỮ LIỆU VÀO DANH SÁCH CHỜ XỬ LÝ CÓ ID '@id'</h4>
<div class="table-responsive">
    @if (ViewBag.files != null)
    {
        var list = ViewBag.files as List<string>;
        <div class="alert alert-info">Danh sách tập tin đẩy lên thành công</div>
        <ul>
            @foreach (var f in list)
            {
                <li>@f</li>
            }
        </ul>
    }
    <a href="#" class="btn btn-primary btn-sm" onclick="showgeturl('@Url.Action("Buoc1", "XML", new { area = "", layout="null", idtarget=idtarget })', '@idtarget')"><i class="fa fa-refresh"></i> Tạo lại</a>
</div>
<script>
</script>